a, a:hover, a:visited {
    text-decoration: none !important;
}

body {
    background-color: #fff;
}

/* override */
.fa-github {
    color: #333;
}

.fa-linkedin {
    color:#0976b4
}


/* ids*/
#header {
    text-align: center;
    height: 35vh;
    margin-bottom: 20px;
    
}

#header-title {
    font-family: 'Roboto Slab';
    letter-spacing: 3px;
}

#header-sub {
    max-width: 500px;
    letter-spacing: 2px;
    font-size: 1.25em;
    padding:5px;
    margin: auto;
}

#left {
    float:left; 
    margin-right:20px;
    padding:10px;
    width:50%;
    border-right:2px solid gray;
}
#right {
    padding:10px;
    min-height:170px;
}

@media screen and (max-width: 500px) {
    #left { 
        float: none;
        margin-right:0;
        width:auto;
        border:0;
        border-bottom:2px solid #000;    
    }
 }

/*class*/
.round-logo{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
    margin: 0 20px 0 20px;
    opacity: 0.5;
    padding: 5px;
    font-size: 4em;
    transition: opacity 0.75s;
    transition-timing-function: ease-out;
}
.round-logo:hover {
    text-align: center;
    opacity: 1;
}

