body {
    background-color: #fff;
}

section {
    height: 100vh;
}

/* ids*/
#header {
    text-align: center;
    padding: 14rem 0;
}

#header-title {
    font-family: 'Roboto Slab';
    letter-spacing: 2px;
    padding:1px;
}

#bio-container {
    background-color: #222;
}

#bio-paragraph {
    color: #fff;
    padding: 10px;
}

#project-container {

}

#project-content {

}

#education-container {

}

#education-content {

}
/*classes*/
.round-logo{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: #222;
	background: #fff;
	margin: 0 20px 0 20px;
    padding: 5px;
    font-size: 5em;
    transition: background-color 0.25s, color 0.25s;
    transition-timing-function: ease-out;
}
.round-logo:hover {
	background-color: #fff;
	color: rebeccapurple;
    text-align: center;
}

.flip-container {

}

.flip-content {

}

.card-front{

}

.card-back {

}

