a, a:hover, a:visited {
    text-decoration: none;
}

body {
    background-color: #fff;
}

section {
    height: 100vh;
}

section:nth-child(2n) {
    background-color: #333;
}

section:nth-child(2n) h1, section:nth-child(2n) .section-text {
    color: #fff;
}

/* override */
.fa-github {
    color: #333;
}

.fa-linkedin {
    color:#0976b4
}

/* ids*/
#header {
    text-align: center;
    padding: 14rem 0;
}

#header-title {
    font-family: 'Roboto Slab';
    letter-spacing: 2px;
}

#bio-container {

}

#bio-paragraph {
    color: #fff;
    padding: 10px;
}

#project-container {
    align: center;
}

#project-content {
    
}

#education-container {

}

#education-content {
}

#education-stats {
    text-align: center;
}
/*classes*/
.round-logo{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
    margin: 0 20px 0 20px;
    opacity: 0.5;
    padding: 5px;
    font-size: 5em;
    transition: opacity 0.75s;
    transition-timing-function: ease-out;
}
.round-logo:hover {
    text-align: center;
    opacity: 1;
}

.section-title {
    font-family: 'Roboto Slab';
    letter-spacing: 2px;
    text-align: center;
    padding: 3px;
}

.section-content {

}

.project-card-container {
    text-align: center;
    height: 50vh;
    background-color:red;
    outline: 1px solid black;
    
}

.project-card {
    height: 25vh;
    background-color: blue;
    outline: 1px solid white;
    color:white;
}

.background-red {
    background: red;
}

